.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 160px;
    background: rgb(177, 173, 173);
    color: black;
   
}
.nav-logo{
    font-size: 30px;
    font-weight: 600; 
}
.nav-component ul{
    
    display: flex;
    text-align: center;
   list-style: none;
   gap: 50px;
   
}
.nav-component li {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
}
.nav-search{
    display: flex;
    gap: 20px;
    cursor: pointer;
}